@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;500;600;700&family=DM+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

body,
a,
button {
  cursor: url("/logo-cursor.png") 12 12, pointer;
}

@keyframes scrollAwards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.awards-marquee {
  animation: scrollAwards 20s linear infinite;
}

.awards-marquee:hover {
  animation-play-state: paused;
}
